.attention {
  color: red;
}

.category {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin: 5px;
  padding: 10px;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.header {
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  min-height: 30px;

  svg {
    width: 30px;
  }
}

.value {
  text-align: center;
  font-size: 35px;
  margin: 35px 0 50px;
  svg {
    width: 15px;
    margin-left: 10px;
  }
}

.footer {
  margin-top: auto;
}